/* base */
@import '../base/reset.css';
@import '../base/variables.css';
@import '../base/layout.css';

/* 3rd-party */

/* components */
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progress-bar.css';

/* CUSTOM STYLE BELOW THIS COMMENT, FOR THIS PAGE */

.hero {

    padding-bottom: 30px;
    min-height:100vH;
    background-image: url(../../img/banner-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.hero > .row-short {
    text-align: center;
}
.hero .logo {
    height:50px;
    width: 50%;
    object-fit: contain;
    margin-bottom: 45px;
}


.main-title {
    margin-bottom: 15px;
    font-size: 44px;
    text-transform: uppercase;
}

.main-description {
    margin-bottom: 45px;
    font-size: 18px;
    color:chocolate
}

.hero .clock {

margin-bottom: 45px;
}

.hero > .form {

    margin-bottom: 15px;
}

.content-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.content-description {
font-size: 15px;
margin-bottom: 20px;


}

.progress-bar {

   margin-bottom: 30px; 
}

.column > * { 
    margin-bottom: 30px;


}

.column > *:last-child {


 
    margin-bottom: 0px;
    

} 

.content-description > .link:hover {
    color: var(--secondary-color);
    
}